{
  "extends": [ "airbnb-base/legacy", "prettier" ],
  "plugins": [ "prettier" ],
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {
    "$": true
  },
  "rules": {
    "func-names": "off",
    "vars-on-top":"off",
    "prettier/prettier": "error"
  }
}
