doctype html
html(class="no-js" lang="en")
  head
    title Project
    meta(charset="utf-8")
    //meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    include styles.jade
  body
    header.page-header
      h1 Project
    //.page-header

    main.page-main
      block main_content
    //.page-main

    include footer.jade
    include scripts.jade
