link(rel="stylesheet", href="assets/libraries/bootstrap/css/bootstrap.min.css")
link(rel="stylesheet", href="assets/styles/main.css")
script(src="assets/libraries/modernizr/modernizr.min.js")
script(src="assets/libraries/respond/respond.min.js")
