{{#extend "app-layout-base"}}
  {{#content "children"}}
    <div class="app-layout-drawer app-layout-drawer--{{#if position}}{{position}}{{else}}left{{/if}} {{#if hidden}}app-layout-drawer--hidden{{/if}}">
      <div class="app-layout-drawer__drawer">
        {{#block "children-drawer"}}
        {{/block}}
      </div>
      <div class="app-layout-drawer__main {{#if pushed}}app-layout-drawer__main--pushed{{/if}} {{#if dimmed}}app-layout-drawer__main--dimmed{{/if}}">
        {{#block "children-main"}}
        {{/block}}
      </div>
    </div>
    <!-- /.app-layout-drawer -->
  {{/content}}
{{/extend}}
