<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Designs 2 Templates</title>
  <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/main.css" />
</head>
<body class="layout-base">
  <div class="container">
    {% block page %}{% endblock %}
  </div>
  <script src="assets/vendor/jquery/jquery-3.2.1.slim.min.js"></script>
  <script src="assets/vendor/jquery-helpers/jquery.helpers.js"></script>
  <script src="assets/vendor/popper/popper.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/main.js"></script>
</body>
</html>
