extends ./includes/default.jade
block main_content

  article
    h2 Hello World!
    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Sed sapiente magni, voluptatum quam reiciendis id.
      Iusto, modi esse ex sapiente laborum eos laboriosam, hic cupiditate tenetur veniam non molestiae, qui?
